.headerblock {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}
.logo {
  fill: var(--color-accent);
}
.burgerbutton {
  border: 0;
  background-color: var(--background);
  transition: background-color var(--change-theme-duration);
}
