.popupmenu {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -350px;
  width: 300px;
  height: 100%;
  opacity: 0; /* STATE */
  border-left: 1px solid var(--color-grey);
  background-color: var(--color-background);
  transition: margin var(--basic-duration),  opacity var(--basic-duration), background-color var(--basic-duration);
}
.popupmenu[data-state-popupmenu-status="open"] {
  opacity: 100;
  margin-right: 0px;
  transition: margin var(--basic-duration), background-color var(--basic-duration);
}
.content {
  padding: 20px 10px;
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--color-grey);
}
.title {
  display: "inline-block";
}
.closebutton {
  display: "inline-block";
  border: 0;
  background-color: var(--color-background);
  transition: background-color var(--basic-duration);
}
