.popupmenu {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -350px;

  width: 300px;
  height: 100%;
  border-left: 1px solid var(--color-grey);

  opacity: 0;

  background-color: var(--background);
  transition: margin var(--change-theme-duration),  opacity var(--change-theme-duration), background-color var(--change-theme-duration);
}
.popupmenu[data-popupmenu-status="open"] {
  opacity: 100;
  margin-right: 0px;
  transition: margin var(--change-theme-duration), background-color var(--change-theme-duration);
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--color-grey);
}
.content {
  padding: 20px 10px;
}

.header__title {
  display: "inline-block";
}
.header__closebutton {
  display: "inline-block";
}
