.block {
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 800px) {
  .block {
    flex-flow: column;
  }
}

.contacts {
  flex-shrink: 2;
  min-width: 300px;
}
.about {
  flex-shrink: 1;
  padding-left: 30px;
}

