.block {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.photo {
  position: relative;
  margin-bottom: 30px;
  align-self: center;
  width: 200px;
  height: 200px;  
  border-radius: "50%";
}

.row {
  display: flex;
  margin: auto;
  width: 200px;
}
.row__icon {
  align-self: center;
  width: 40px;
}
.row__data {
  padding: 0;
  font-size: var(--text-small);
}
