@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-ExtraBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto');
    font-style: normal;
    font-weight: 700;
}