[data-state-should-hide="true"] {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}


@media screen and (max-width: 800px) {
  [data-state-hide-on-small="true"] {
    display: none;
  }
}