:root {
  --color-accent:#ee6e73;
  --color-grey: #999999;

  --hide-duration: 0.2s;
  --text-small: 0.8rem;

  --desktop-breakpoint: 800px;
  --body-max-width: 1000px;

  --padding-header-mobile: 10px 10px;
  --padding-main-mobile: 40px 20px;
  --padding-footer-mobile: 20px 0px;

  --padding-header-desktop: 10px 40px;
  --padding-main-desktop: 50px 60px;
  --padding-footer-desktop: 30px 0px;
}


