.header-title {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.popup-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -350px;

  width: 300px;
  height: 100%;
  border-left: 1px solid var(--color-grey);

  background-color: var(--background);
  transition: margin 0.2s;
}
.popup-menu[data-popupmenu-status="open"] {
  margin-right: 0px;
  transition: margin 0.2s;
}

.popup-menu__header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted var(--color-grey);
}
.popup-menu__content {
  padding: 20px 10px;
}
