html,
body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;

  color: var(--color-text-main);
  background-color: var(--background);
}



/* ********************* */
/* LAYOUT */
/* ********************* */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex-grow: 1;
  padding:  var(--padding-content-desktop);
}
header, footer {
  padding: var(--padding-header-desktop);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 1200px) {
  main {
    padding: var(--padding-content-large)
  }
  header, footer {
    padding: var(--padding-header-large);
  }
}
@media (max-width: 768px) {
  main {
    padding: var(--padding-content-tablet)
  }
  header, footer {
    padding: var(--padding-header-tablet);
  }
}
@media (max-width: 480px) {
  main {
    padding: var(--padding-content-mobile)
  }
  header, footer {
    padding: var(--padding-header-mobile);
  }
}


/* ********************* */
/* ТИПОГРАФИЯ */
/* ********************* */


/* Заголовки */

h1 {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

h2,
h3 {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* Ссылка */
a {
  text-decoration: underline;
  color: var(--color-text-main);
}
a:hover {
  text-decoration: none;
  text-decoration-thickness: 0.5px;
}

.icon-button {
  cursor: pointer;
  fill: var(--color-text-main);
}
.icon-button:hover {
  fill: var(--color-accent);
}



/* Тексты */
.text-accent {
  color: var(--color-accent);
}

.comment--small--grey {
  color: var(--color-grey);
  font-weight: 300;
  font-size: 0.75rem;
}
