html,
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;

  color: var(--color-text-main);
  background-color: var(--background);
}

h1 {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

h2,
h3 {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 600;
}


/* Ссылка */
a {
  text-decoration: underline;
  color: var(--color-text-main)
}
a:hover {
  text-decoration: none;
  text-decoration-thickness: 0.5px;
}


/* Тексты */
.text-accent {
  color: var(--color-accent);
}

.comment--small--grey {
  color: var(--color-grey);
  font-weight: 300;
  font-size: 0.75rem;
}
