:root {
  --background: white;
  
  --color-text-main: black;
  --color-primary:#ee6e73;
  --color-secondary: #26a69a;
  --color-link-blue: #039be5;
  --color-grey: #999999;
}
[data-theme="dark"] {
  --background: black;

  --color-text-main: #DDDDDD;
}

