:root {
  --background: white;
  
  --color-text-main: black;
  --color-accent:#ee6e73;
  --color-grey: #999999;
  --color-green: #1e8e3e;
  --color-blue: #1a73e8;  

  --padding-header-mobile: 10px 10px;
  --padding-header-tablet: 10px 20px;
  --padding-header-desktop: 10px 40px;
  --padding-header-large: 10px 60px;

  --padding-content-mobile: 40px 10px;
  --padding-content-tablet: 50px 20px;
  --padding-content-desktop: 50px 60px;
  --padding-content-large: 80px 140px;

  --change-theme-duration: 0.5s;

}
[data-theme="dark"] {
  --background: black;
  --color-text-main: #bab7b7;
}


