.work {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid var(--color-grey);
  border-radius: 30px;
}

.title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
}

.work__description {
  margin-top: 30px;
  text-align: justify;
}
.work__tags {
  margin-top: 20px;
  color: var(--color-accent);
}

.sourselist {
  display: inline;
  padding-left: 20px;
  list-style: none;
  font-size: 1rem;
}
.sourselist li {
  display: inline-block;
}
.sourselist li:not(:last-child)::after {
  content: ",";
  margin-right: 20px;
}

.sourselink {
  display: inline-block;
  font-size: 1rem;
  color: var(--color-accent);
  font-weight: 400;
}
.sourselink::before {
  position: relative;
  content: "www.";
  font-size: 0.7rem;
  font-weight: 100;
}
.sourselink::after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--color-accent);
  scale: 0;
  transition: scale calc(var(--basic-duration) * 1.5) ease-in-out;
  transform-origin: right;
}
.sourselink:hover::after {
  scale: 1;
  transform-origin: left;
}
